body{
    margin: 0;
    background: linear-gradient(to left, lightblue, lightgreen);
    font-family: 'Courier New', Courier, monospace;

}
.heading{
    color: darkblue;
    text-align: center;
    padding-top: 10px;
    font-size: 35px;

}
.info-text{
    text-align: center;
    color: darkblue;
    font-size: 18px;

}
.app{
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 40px;
    justify-content: center;
    padding: 60px;
}
.note{
    padding: 17px;
    border-radius: 15px;
    resize: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    font-size: 18px;
    height: 200px;
    color: darkblue;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, .1);
    box-sizing: border-box;
}
.note::placeholder{
    color: gray;
    opacity: 30%;
}
.note:hover,.note:focus{
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    transition: all 300ms ease;
}
.btn{
    height: 200px;
    border-color: rgba(255, 255, 255, .37);
    background: rgba(255, 255, 255, .27);
    border-radius: 15px;
    font-size: 70px;
    font-weight: 700;
    color: rgba(0, 0, 0, .3);
    cursor: pointer;
}
.btn:hover{
    background: rgba(255, 255, 255, .55);
    color: rgba(0, 0, 0, .60);
    transition: all 300ms ease;
}